@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(42, 42, 83);
   
}

.container {
    max-width: 80%;
    margin: 0 auto;
   
   
}

.title {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 3rem;
}

.set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10%;
    height: 390px; 
}

.note {
    width: 90px;
    outline: none;
    /* border: 2px solid #404B69; */
    /* font-size: 5rem; */
    /* font-family: 'Arvo', cursive; */
    /* line-height: 2; */
    /* font-weight: 900; */
    /* color: #DA0463;
    text-shadow: 3px 0 #DBEDF3; */
    border-radius: 5px;
    background-color: white;
}

button {
    border: none;
    padding: 0;
    transition: .5s ease;
}

.pressed {
    box-shadow: 0 3px 4px 0 rgb(194, 189, 189);
    opacity: 0.5;
}

.a {
    background-image: url('img/note-do.png')
}

.s {
    background-image: url('img/note-re.png')
}

.d {
    background-image: url('img/note-mi.png')
}

.f {
    background-image: url('img/note-fa.png')
}

.g {
    background-image: url('img/note-sol.png')
}

.h {
    background-image: url('img/note-la.png')
}

.j {
    background-image: url('img/note-si.png')
}

.k {
    background-image: url('img/note-do.png')
}

footer {
    text-align: center;
    color: white;
}



